@model WebApplication1.Models.AgendaModel

@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <!-- <h2 class="display-4">Alpha Sistemas</h2>   -->

</div>



<div class="row">
    <div class="col-md-12">
        <table class="table">
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.Status)
                <form action="" target="_blank">
                    <input type="submit" value="Checkin" />
                </form>
            </th>
            <!--   <th class="col-sm-2"> -->
            <!--       Html.DisplayNameFor(Detalhes) -->
            <!--   </th> -->

        </table>
    </div>
</div>