@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Alpha Sistemas</h2>
    
</div>

<form class="form">
    <div class="section">
        <div class="control-group">
            <label class="control-label">Nome</label>
            <select class="control">
                <option>Selecione</option>
                <option>Diassis</option>
                <option>Gil</option>
                <option>Queiroz</option>
            </select>
        </div>

        <div class="control-group">
            <label class="control-label">Empresa</label>
            <select class="control">
                <option>Selecione</option>
                <option>Blinclass</option>
                <option>Maluzinha</option>
                <option>BlessFit</option>
                <option>Gente Inocente</option>
            </select>
        </div>

        <div class="control-group">
            <label class="control-label">Horário</label>
            <select class="control">
                <option>Selecione</option>
                <option>1º Horário</option>
                <option>2º Horário</option>
                <option>3º Horário</option>
                <option>4º Horário</option>
            </select>
        </div>

        <div class="control-group">


            <input type="button" class="btn-primary" value="Checkin" />



        </div>


    </div>

  

   
</form>